# Node modules
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Environment variables
.env

# Dependency directories
/jspm_packages/
/bower_components/

# Build output
/dist/
/build/

# Coverage output
/coverage/

# Miscellaneous
.nyc_output/
*.tgz
*.zip
*.rar
*.gz
*.tar
*.map
